/* your style begins here */

body {
	background-color: white;
	color: #c9c9c9;
	font-size: 40px;
	text-align: center;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	font-family: "Helvetica", Arial, sans-serif;
}

